.message-container {
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  .message {
    font-size: 32px;
    width: 600px;
    max-width: 80vw;
    text-align: center;
    a {
      color: inherit;
    }
  }
}
