<gubal-page-container [data]="item$ | async" [blocks]="blocks$ | async" [externalLinks]="externalLinks$ | async"></gubal-page-container>

<ng-template let-item #details>
  <div class="specific-details">
    <div *ngIf="item.ItemAction && item.ItemAction.Type === 845">
      <gubal-item-action-details [action]="item.ItemAction"></gubal-item-action-details>
    </div>
    <div *ngIf="item.EquipSlotCategory">
      <gubal-item-gear-details [item]="item"></gubal-item-gear-details>
    </div>
  </div>
  <gubal-details-row>
    <gubal-details-block title="ITEM LEVEL">
      {{item.LevelItem}}
    </gubal-details-block>
    <gubal-details-block title="REQUIRED LEVEL">
      {{item.LevelEquip}}
    </gubal-details-block>
    <gubal-details-block title="SELLS FOR">
      {{item.PriceLow}}
    </gubal-details-block>
  </gubal-details-row>
</ng-template>
