.header {
  padding-left: 22px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  .title {
    font-size: 32px;
  }
}

.search-bar {
  width: 100%;
  .search-input {
    width: 500px;
    font-size: 16px;
    padding: 0 15px;
    border: none;
    height: 45px;
    outline: 0;
    color: rgba(255, 255, 255, .6);
    background-color: #444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: width .2s linear;
    &:focus {
      width: 100%;
    }
    &.active {
      width: 100%;
    }
  }
}

