<div *ngIf="data !== null; else loader" class="container">
  <div class="item-banner" fxLayout="row wrap" fxLayout.lt-sm="column"
       fxLayoutAlign="flex-start flex-start" fxLayoutAlign.lt-sm="center center" fxLayoutGap="10px">
    <gubal-details-block class="item-card">
      <div class="icon-and-name" fxLayout="row" fxLayoutAlign="flex-start flex-start" fxLayoutGap="10px">
        <gubal-icon [icon]="data.Icon"></gubal-icon>
        <div class="name-and-desc" fxLayout="column">
          <h2>{{data.Name}}</h2>
          <div fxLayout="column">
            {{data.ItemUICategory.Name}}
            <div class="patch">{{data.GamePatch?.Name}}</div>
          </div>
        </div>
      </div>
    </gubal-details-block>
    <div class="description">
      <gubal-details-block *ngIf="data.Description">
        <p [innerHTML]="data.Description | xivUIText"></p>
      </gubal-details-block>
    </div>
    <div fxLayout="column" fxLayoutAlign="flex-start flex-start" fxLayout.lt-sm="row" fxLayoutGap="10px">
      <gubal-details-block *ngFor="let link of externalLinks">
        <a href="{{link.url}}" target="_blank" class="external-link"><img src="{{link.icon}}" alt="" class="link-icon">{{link.toolName}}</a>
      </gubal-details-block>
    </div>
  </div>
  <div class="details" fxLayout="row wrap" fxLayoutGap="10px">
    <div class="details-card" *ngFor="let block of blocks">
      <h3 class="details-card-title">{{block.title}}</h3>
      <div *ngIf="block.template as templateRef; else wip">
        <ng-container *ngTemplateOutlet="templateRef; context: {$implicit: data}"></ng-container>
      </div>
    </div>
    <ng-template #wip>
      <div>
        Work in progress
      </div>
    </ng-template>
  </div>
</div>
<ng-template #loader>
  <gubal-loader></gubal-loader>
</ng-template>
