<div *ngIf="data !== null; else loader" class="container">
  <div class="item-banner block-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="icon-and-name" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
      <gubal-icon [icon]="data.Icon"></gubal-icon>
      <div class="name-and-desc" fxLayout="column">
        <h2>{{data.Name}}</h2>
        <span class="categories">{{data.ItemUICategory.Name}}</span>
      </div>
    </div>
    <gubal-details-row *ngIf="data.Description">
      <p [innerHTML]="data.Description | xivUIText"></p>
    </gubal-details-row>
    <div class="patch" fxLayout="column" fxLayoutAlign="flex-end flex-end" fxLayoutGap="5px">
      <span class="patch-name">{{data.GamePatch.Name}}</span>
    </div>
    <!--TODO-->
    <!--<div class="right-sider">-->
    <!--<div class="links" fxLayout="column" fxLayoutGap="3px">-->
    <!--<a class="external-link" *ngFor="let link of externalLinks" href="{{link.url}}" target="_blank"-->
    <!--fxFlex="1 1 auto" fxLayoutAlign="flex-start center">-->
    <!--<img class="link-icon" src="{{link.icon}}" alt=""> {{link.toolName}}-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <div class="details" fxLayout="row wrap" fxLayoutGap="10px">
    <div class="details-card" *ngFor="let block of blocks">
      <h3 class="details-card-title">{{block.title}}</h3>
      <div *ngIf="block.template as templateRef; else wip">
        <ng-container *ngTemplateOutlet="templateRef; context: {$implicit: data}"></ng-container>
      </div>
    </div>
    <ng-template #wip>
      <div>
        Work in progress
      </div>
    </ng-template>
  </div>
</div>
<ng-template #loader>
  <gubal-loader></gubal-loader>
</ng-template>
